@{
    ViewBag.Title = "Contact";
}
<div class="content-body">
    <h2>@ViewBag.Title</h2>
    <h3>We'd love to hear from you!</h3>

    <address>
        1234 Riverview street<br />
        White Rock, BC<br />
        <abbr title="Phone">P:</abbr>
        604.256.2847
    </address>

    <address>
        <strong>Email:</strong>   <a href="mailto:yachts@lmyc.ca">yachts@lmyc.ca</a><br />
    </address>
</div>
