@{
    ViewBag.Title = "Home Page";
}

<!-- Masthead -->
<header class="masthead text-white text-center">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h1 class="mb-5" id="masthead-title">Lower Mainland Yacht Club</h1>
            </div>
        </div>
    </div>
</header>

<div class="content-body">
    <div class="row">
        <div class="col">
            <div class="float-right" style="float: right; margin-left: 50px">
                <img src="http://www.lmyc.ca/sites/default/files/content/pages/sailing-3.jpg" />
            </div>

            <h2>Welcome to the LMYC</h2>

            <p>
                The Lower Mainland Yacht Cooperative (LMYC) is a provincially registered and regulated non-profit organization, which is owned and operated by its members. LMYC is governed by the British Columbia Co-operative Act.
            </p>
            <p>
                The mission and purpose of the Lower Mainland Yacht co-op is to promote Affordable, Safe and Enjoyable recreational sailing.
            </p>
            <p>
                You don't need to own a boat or even know how to sail in order become a member of one of White Rock's best kept secrets – the Lower Mainland Yacht Co-op (LMYC). All you need is an interest in sailing.
            </p>
            <p>
                You can learn to be a skipper on one of our seven boats; join the fun on long weekend cruises or simply sail around Semiahmoo Bay with other members... all for an affordable price!
            </p>
        </div>
    </div>

</div>